build/
cmake-build-debug/
.idea/
lcm-types/cheetahlcm
lcm-types/c_lcm_files
lcm-types/controllerlcm
lcm-types/interfacelcm
lcm-types/java
lcm-types/simulatorlcm
lcm-types/wincontrollerlcm
lcm-types/file_list.txt
lcm-types/cpp/*
lcm-types/lcmtypes/*
optimization_data
planning_data
